[submodule "squashfs-tools"]
	path = squashfs-tools
	url = https://github.com/DigitecGalaxus/squashfs-tools.git
[submodule "jinja2-templating"]
	path = jinja2-templating
	url = https://github.com/DigitecGalaxus/jinja2-templating.git
[submodule "thinclients"]
	path = thinclient-base
	url = https://github.com/DigitecGalaxus/thinclients.git
[submodule "netboot"]
	path = netboot
	url = https://github.com/DigitecGalaxus/netboot.git
